.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  border-bottom: 0.1px solid lightgray;
  padding-bottom: 10px;
  width: 100%;
  z-index: 999;
  padding: 5px;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__img {
  height: 40px;
  object-fit: contain;
  margin-right: 10px;
}

.header__search {
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 22px;
  color: gray;
  background-color: #eef3f8;
}

.header__input {
  outline: none;
  border: none;
  background: none;
}

.header__right {
  display: flex;
}
